// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$primary-dark: #0057b7;
$primary-main: #00b0ff;
$primary-light: #b8ecff;
$secondary-dark: #00a238;
$secondary-main: #00e676;
$secondary-light: #aafff6;

.shadowless {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.hide {
    display: none;
}

.leftAlign {
    text-align: left;
    float: left;
}

.rightAlign {
    text-align: right;
    float: right;
}

.centerAlign {
    text-align: center;
    float: none;
    margin: auto;
}

.justify {
    text-align: justify;
    margin: 0 auto;
    width: 30em;
}

.marginBottom {
    margin-bottom: 10px;
}

.tabs-md .tab-button {
    background-color: $secondary-dark;
    color: $primary-light;
}

.tabs-md .tab-button[aria-selected=true] {
    color: white;
}

.tabs-md .tab-button-icon {
    color: $primary-light;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: white;
}

.toolbar-title-md {
    text-align: center;
    color: white;
}

.radio-md {
    opacity: 0;
}

.list-md .input-wrapper {
    margin: 5px 0;
}

.item-radio .input-wrapper {
    background-color: $primary-main;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 5px 0;
}

.item-radio-checked .input-wrapper {
    background-color: $primary-light;
}

.item-radio .label-md {
    color: black;
}

.item-radio-checked.item-md .label-md {
    color: black;
}

.item-md .slideButton {
    height: 40px;
    width: 10em;
}

.item-md .calcButton {
    font-size: 1.6rem;
    padding: 30px;
}

.item-md .restartButton {
    font-size: 1.4rem;
    padding: 25px;
}

.item-md .bodyfatButton {
    font-size: 1.4rem;
    padding: 25px;
}

.toolbar-background-md {
    background: $primary-dark;
}

p {
    text-align: center;
}