// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$primary-dark: #0057b7;
$primary-main: #00b0ff;
$primary-light: #b8ecff;
$secondary-dark: #00a238;
$secondary-main: #00e676;
$secondary-light: #aafff6;

#menutop {
    background-color: $primary-dark;
    color: white;
    margin: 0;
    width: 100%;
    padding: 20px;
    font-size: 2.0rem;
    text-align: center;
}

.shadowless {
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 10px auto;
}

.hide {
    display: none;
}

.leftAlign {
    text-align: left;
    float: left;
}

.rightAlign {
    text-align: right;
    float: right;
}

.centerAlign {
    text-align: center;
    float: none;
    margin: auto;
}

.justify {
    text-align: justify;
    margin: 0 auto;
    width: 30em;
}

.marginBottom {
    margin-bottom: 10px;
}

.swiper-slide-active .card-md {
    margin: 10px auto;
    width: 100%;
}

#advancedpage .card-md, #bodyfatpage .card-md {
    margin: 10px auto;
    width: 100%;
}

.bar-button-menutoggle-md {
    position: fixed;
}

.bar-button-menutoggle-md ion-icon {
    color:white;
}

.back-button.show-back-button {
    display: none;
}

.tabs-md .tab-button {
    background-color: $secondary-dark;
    color: $primary-light;
}

.tabs-md .tab-button[aria-selected=true] {
    color: white;
}

.tabs-md .tab-button-icon {
    color: $primary-light;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: white;
}

.toolbar-title-md {
    text-align: center;
    color: white;
}

.radio-md {
    opacity: 0;
}

.list-md .input-wrapper {
    margin: 5px 0;
}

.item-radio .input-wrapper {
    background-color: $primary-main;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 5px 0;
}

.item-radio-checked .input-wrapper {
    background-color: $primary-light;
}

.item-radio .label-md {
    color: black;
}

.item-radio-checked.item-md .label-md {
    color: black;
}

.item-md .slideButton {
    height: 40px;
    width: 10em;
}

.item-md .calcButton {
    font-size: 1.6rem;
    padding: 30px;
}

.item-md .proButton {
    font-size: 1.5rem;
    padding: 25px;
}

.item-md .restartButton {
    font-size: 1.4rem;
    padding: 25px;
}

.item-md .bodyfatButton {
    font-size: 1.4rem;
    padding: 25px;
}

.item-md .refreshButton {
    font-size: 1.6rem;
    padding: 20px;
}

.toolbar-background-md {
    background: $primary-dark;
}

p {
    text-align: center;
}

#ketointropage h2 {
    font-weight: bold;
}

#ketointropage p, #ketofaqpage p {
    text-align: left;
    line-height: 1.2;
}

#ketointropage br {
    line-height: 1.8;
}

#ketopropage h1 {
    text-align: center;
    line-height: 1.8;
}

#ketopropage p {
    text-align: left;
    line-height: 1.4;
}

#ketopropage ul {
    padding-inline-start: 25px;
}

#ketopropage li {
    text-align: left;
    line-height: 1.4;
}

#ketopropage ion-card {
    margin: 10px auto;
    padding: 0;
    width: 100%;
}

#ketopropage ion-slides {
    margin: 2px auto;
    width: 100%;
}

#ketopropage ion-slides h2 {
    margin: 0 auto; 
}

#ketopropage .dataContainer {
    padding: 5px 5px;
    width: 100%;
}

#ketopropage #goPro {
    width: 85%;
    margin: 5px auto;
}